/* Visual identity */
:root {
  /* Colors */
  --background: #f2f2f0;
  --black: #221918;
  --green: #c5e6c7;
  --dark-green: #80bd87;
  --blue: #c5e2e6;
  --dark-blue: #7eb9bf;

  /* Layout */
  --spacing-horizontal: 10vw;
  --spacing-vertical: 35px;

  /* Fonts family */
  --sans-serif: "Open Sans", sans-serif;
  --serif: "Merriweather", serif;
  /* Fonts size */
  --big: 2.5em;
  --medium: 1.5em;
  --regular-size: 1.1em;
  --small-regular: 0.9em;
  --small-size: 0.7em;
  /* Fonts weight */
  --bolder: 700;
  --bold: 600;
  --regular-weight: 500;
  --light: 400;
  --lighter: 300;

  /* Fonts */
  --title: var(--bold) var(--big) var(--serif);
  --subtitle: var(--bolder) var(--medium) var(--sans-serif);
  --description: var(--regular-weight) var(--regular-size) var(--sans-serif);
  --paragraph: var(--regular-weight) var(--regular-size) var(--serif);
  --badge: var(--light) var(--small-regular) var(--sans-serif);
  --small: var(--lighter) var(--small-size) var(--sans-serif);
  --link: var(--regular-weight) var(--small-regular) var(--sans-serif);
}
@media (max-width: 480px) {
  :root {
    /* Layout */
    --spacing-horizontal: 8vw;

    /* Fonts */
    --big: 2em;
    --medium: 1.2em;
    --regular-size: 0.9em;
    --small-regular: 0.8em;
    --small-size: 0.7em;
  }
}
html,
body {
  overflow-x: hidden;
  font-size: 100%;
  margin: 0;
}
/* To keep h1 parallax effect */
* {
  position: relative;
  z-index: 2;
  background-color: var(--background);
}
h1,
h2,
h3,
h4,
p,
sup {
  color: var(--black);
}
h1 {
  font: var(--title);
}
h2,
h3 {
  font: var(--subtitle);
}
h4 {
  font: var(--description);
}
p {
  font: var(--paragraph);
  line-height: 1.5em;
  text-align: justify;
}
sup {
  text-transform: uppercase;
  font: var(--badge);
  padding: 2.5px 6px;
  border-radius: 2.5px;
}
sup.waiting {
  background-color: var(--blue);
}
sup.finished {
  background-color: var(--green);
}
a:not(.roadtrip-pointer) {
  font: var(--link);
  text-decoration: none;
  color: var(--black);
  border-bottom: 3px solid var(--dark-green);
  transition: all 0.2s ease-in-out;
}
a:not(.roadtrip-pointer):hover {
  color: var(--dark-green);
  border-width: 4.5px;
}
small {
  font: var(--small);
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Project specific */
header {
  padding: var(--spacing-vertical) var(--spacing-horizontal) 10px;
}
header img#logo {
  width: 150px;
}

h1 {
  position: fixed;
  left: var(--spacing-horizontal);
  z-index: 1;
}
h1 span {
  margin-left: 15px;
}
@media (max-width: 480px) {
  h1 span {
    margin-left: 0;
  }
}

#mountain-container {
  background: none;
}
#mountain-container img#mountain {
  display: block;
  width: 150%;
  margin-top: 160px;
  background: none;
}
@media (max-width: 480px) {
  #mountain-container img#mountain {
    width: 270%;
    margin-top: 170px;
  }
}

#mountain-container a.roadtrip-pointer {
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 13.5px;
  animation: infinite 1s sonar;
  z-index: 3;
}
#mountain-container a.roadtrip-pointer:before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 6.5px;
  position: absolute;
  left: 7px;
  top: 7px;
}
@media (max-width: 480px) {
  #mountain-container a.roadtrip-pointer {
    width: 19px;
    height: 19px;
    border-radius: 9.5px;
  }
  #mountain-container a.roadtrip-pointer:before {
    width: 9px;
    height: 9px;
    border-radius: 4.5px;
    left: 5px;
    top: 5px;
  }
}
#mountain-container a.roadtrip-pointer.waiting {
  background-color: var(--blue);
}
#mountain-container a.roadtrip-pointer.waiting:before {
  background-color: var(--dark-blue);
}
#mountain-container a.roadtrip-pointer.finished {
  background-color: var(--green);
}
#mountain-container a.roadtrip-pointer.finished:before {
  background-color: var(--dark-green);
}
@keyframes sonar {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
#mountain-container a.roadtrip-pointer#roadtrip-pointer1 {
  position: relative;
  left: 140px;
  top: 260px;
}
#mountain-container a.roadtrip-pointer#roadtrip-pointer2 {
  position: relative;
  left: 235px;
  top: 340px;
}
@media (max-width: 480px) {
  #mountain-container a.roadtrip-pointer#roadtrip-pointer1 {
    position: relative;
    left: 60px;
    top: 220px;
  }
  #mountain-container a.roadtrip-pointer#roadtrip-pointer2 {
    position: relative;
    left: 110px;
    top: 250px;
  }
}

section#introduction {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  /* 11 + 24 (h3 inherit) = 35px & 17 + 18 (p inherit) = 35px */
  padding: 11px var(--spacing-horizontal) 17px;
}
@media (max-width: 480px) {
  section#introduction {
    flex-direction: column;
  }
  section#introduction hgroup:first-child p {
    margin-bottom: 0;
  }
}

hr {
  border: none;
  margin: 0;
}
hr:after {
  text-transform: uppercase;
  display: block;
  font: var(--small);
  padding: 0 0 var(--spacing-vertical) var(--spacing-horizontal);
}
hr#roadtrip-hr:after {
  content: "expériences";
}

section#roadtrips {
  padding: 0 var(--spacing-horizontal) var(--spacing-vertical);
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
@media (max-width: 480px) {
  section#roadtrips {
    row-gap: var(--spacing-vertical);
  }
}
article.roadtrip {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: var(--spacing-vertical);
  align-items: center;
}
@media (max-width: 480px) {
  article.roadtrip {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-vertical);
  }
}
article.roadtrip aside.pictures {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}
article.roadtrip aside.pictures img {
  width: 100%;
  object-fit: cover;
  filter: grayscale(80%);
}
article.roadtrip aside.pictures small {
  grid-column: 1 / span 2;
}
article.roadtrip aside.pictures img:hover {
  transform: scale(1.02);
}
article.roadtrip aside.pictures img.square-img {
  aspect-ratio: 1 / 1;
}
article.roadtrip aside.pictures img.main {
  grid-column: 1;
  grid-row: 1 / span 2;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
article.roadtrip aside.pictures img.map {
  grid-column: 2;
  grid-row: 1;
  border-top-right-radius: 4px;
}
article.roadtrip aside.pictures img.others {
  grid-column: 2;
  grid-row: 2;
  border-bottom-right-radius: 4px;
}
article.roadtrip main.description h3 {
  margin: 10px 0;
}
article.roadtrip main.description h4 {
  margin: 0;
}
footer p {
  font: var(--small);
  padding-bottom: calc(var(--spacing-vertical) - 11.2px);
  text-align: center;
}
